<div class="row my-5 mb-5">
  <div class="col-12">
    <div class="container">
      <div id="about" class="card">
        <h2>Ali Haddi is a polyglot, multidisciplinary software engineer, based in Tokyo</h2>
        <h3>Born in Africa, raised in Europe</h3>
        <p class="origin-story-paragraph">He arrived in Japan several years ago and made this wonderful country his new home.</p>
      </div>
    </div>
    <div class="container">
      <div id="about" class="card">
        <h3>To relax</h3>
        <p>
          Ali likes to code, travel to Okinawa, and study Japanese. His favorite Japanese proverb <a href="https://jisho.org/search/%E4%B8%83%E8%BB%A2%E3%81%B3%E5%85%AB%E8%B5%B7%E3%81%8D" target="_blank" class="japanese-phrase">"七転び八起き" (ななころびやおき)</a> inspires him to learn from failures and keep growing.
        </p>
      </div>
    </div>
  </div>
</div>
