<div class="row justify-content-center banner">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
      <h1 class="title-main">A~H</h1>
    <%= image_tag 'images/projects/ali.png', alt: "profile photo", class: 'avatar' %>
    <div class="navigation-buttons d-flex justify-content-center pt-3">
          <div class=" navigation-button d-flex flex-column justify-content-center align-items-center m-3">
           <i class="fas fa-info-circle"></i>
            <span>About</span>
            <a href="#about" class="navigation-button-link"></a>
          </div>
          <div class="navigation-button d-flex flex-column justify-content-center align-items-center m-3">
           <i class="fas fa-chalkboard-teacher"></i>
            <span>projects</span>
            <a href="#projects" class="navigation-button-link"></a>
          </div>
          <div class="navigation-button d-flex flex-column justify-content-center align-items-center m-3">
           <i class="fas fa-envelope"></i>
            <span>Contact</span>
             <a href="#contact" class="navigation-button-link"></a>
          </div>
        </div>
  </div>
</div>
